html{
    background-color: aqua;
}

.navbar{
    border-style: outset;
   background-color: rgb(77, 77, 186);
    color: aliceblue;
    padding: auto;
    margin: auto;

}

.navbar:hover{
background-color: rgb(15, 251, 239);
}