html{
    background-color: aqua;
}

.navbar{
    border-style: outset;
   background-color: rgb(77, 77, 186);
    color: aliceblue;
    padding: auto;
    margin: auto;

}

.navbar:hover{
background-color: rgb(15, 251, 239);
}
#picture{
    width: auto;
    padding: auto;
    margin: 0px 0px 0px 0px;
    height: auto;
    box-align:center;
}
#po{

    width: 500px;
    padding: 0px;
    margin: 8px 50px 30px 0px;
    height: 500px;
    box-align:center;

}
p{
    box-align:center;
}